<% if (theme.duoshuo_shortname){ %>
<div class="weiboshow">
	<p class="asidetitle"><%= __('最近访客') %></p>
	<div class="visitors">
		<ul class="ds-recent-visitors" data-num-items="5"></ul>
	</div>
</div>
<% } %>
